body {
	font-size: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.wrapper {
	display: table;
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.container {
	display: table-row;
	vertical-align: middle;
}

.container > h1 {
	text-align: center;
}

.body-container {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

.canvas-container {
	position: relative;
	max-width: 620px;
	min-width: 620px;
	margin: 0 auto;
}

#environment {
	width: 100%;
	height: auto;
	/*background: url("../res/background.png") no-repeat 100% 100%;*/
	background-color:black;
	z-index : 10;
}

#block {
	width: 600px;
	height: 600px;
	position: absolute;
	background-color:#5C3E14;
	top: 10px;
	left: 10px;
	z-index: 20;
}

#moving_block {
	width: 600px;
	height: 600px;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 30;
}

#glow {
	width: 600px;
	height: 600px;
	position: absolute;
	background-color:transparent;
	top: 10px;
	left: 10px;
	z-index: 40;
}

.block-container {
    margin:0 auto;
    width:470px;
}

.unblock_object {
    display:inline-block;
}

.vertical_block.big_block > img {
    max-height:150px;
}

.vertical_block.small_block > img {
    max-height:100px;
}

.horizontal_block.big_block > img {
    max-width:150px;
}

.horizontal_block.small_block > img {
    max-width:100px;
}

#object_block > img {
    max-width:100px;
}

#solution {
    text-align:center;
    width:30%;
    margin:0 auto;
}

#solution_step {
    display:none;   
}

#no_solution {
    display:none;
}

.arrow-right {
    float:right;
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;

    border-left: 30px solid green;
}

.arrow-left {
    float:left;
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent; 

    border-right:30px solid blue; 
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}